# ESP-IDF
build/
sdkconfig
sdkconfig.old
*.log
managed_components/
dependencies.lock
dist/
*.bin
*.elf
*.map
*.hex
idflint.log
.cache/

# OTA Server
ota_server/__pycache__/
ota_server/ota.db
ota_server/uploads/
