# Device Role Configuration for Standard ESP32
CONFIG_APP_ESPNOW_AC_MASTER=y
CONFIG_APP_ESPNOW_AC_MAC="48:ca:43:cf:ff:68"

CONFIG_APP_ESPNOW_FAN_MASTER=y
CONFIG_APP_ESPNOW_FAN_MAC="48:ca:43:cf:ff:68"

CONFIG_APP_ESPNOW_TEMP_MASTER=y
CONFIG_APP_ESPNOW_TEMP_MAC="d0:cf:13:2f:e0:f0"

CONFIG_APP_ESPNOW_LED1_MASTER=y
CONFIG_APP_ESPNOW_LED1_MAC="e4:65:b8:11:7f:9c"

CONFIG_APP_ESPNOW_RELAY_MASTER=y
CONFIG_APP_ESPNOW_RELAY_MAC="48:ca:43:cb:08:b0"

CONFIG_APP_BUTTON_GPIO=0
CONFIG_APP_BUTTON_ACTIVE_LEVEL=0

# Sync Peers Configuration
CONFIG_APP_ESPNOW_SYNC_PEER_1="48:ca:43:cf:ff:68"
CONFIG_APP_ESPNOW_SYNC_PEER_2="d0:cf:13:2f:e0:f0"
CONFIG_APP_ESPNOW_SYNC_PEER_3="48:ca:43:cb:08:b0"

# LED Hardware Configuration (Slave/Standalone features)
CONFIG_APP_ESPNOW_LED1_SLAVE=y
CONFIG_APP_LED1_NAME="Lamp 1"
CONFIG_APP_LED1_CONTROL=y
CONFIG_APP_LED1_TYPE_SINGLE=y
CONFIG_APP_LED1_GPIO=4

# Generic Defaults
CONFIG_APP_OTA_ENABLE=y
CONFIG_OTA_SERVER_URL="http://Mac-mini-cua-ang.local:5555"

# Disable Power Management on ESP32 (S3 specific features might conflict)
CONFIG_PM_ENABLE=n
