# ESP32-C3 Configuration
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_ESP_WIFI_PROV_TRANSPORT_BLE=y
CONFIG_APP_WIFI_PROV_TRANSPORT_BLE=y
CONFIG_APP_WIFI_PROV_TRANSPORT_SOFTAP=n

# Device Role Configuration
CONFIG_APP_ESPNOW_AC_SLAVE=y

CONFIG_APP_ESPNOW_FAN_SLAVE=y

CONFIG_APP_ESPNOW_TEMP_MASTER=y
CONFIG_APP_ESPNOW_TEMP_MAC="d0:cf:13:2f:e0:f0"

CONFIG_APP_ESPNOW_LED1_MASTER=y
CONFIG_APP_ESPNOW_LED1_MAC="e4:65:b8:11:7f:9c"

CONFIG_APP_ESPNOW_RELAY_MASTER=y
CONFIG_APP_ESPNOW_RELAY_MAC="48:ca:43:cb:08:b0"

# Sync Peers Configuration
CONFIG_APP_ESPNOW_SYNC_PEER_1="d0:cf:13:2f:e0:f0"
CONFIG_APP_ESPNOW_SYNC_PEER_2="e4:65:b8:11:7f:9c"
CONFIG_APP_ESPNOW_SYNC_PEER_3="48:ca:43:cb:08:b0"

# LCD & UI Configuration
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_18=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_FONT_MONTSERRAT_28=y
CONFIG_LV_FONT_MONTSERRAT_48=y
CONFIG_LV_COLOR_16_SWAP=y

# Flash Size Configuration (4MB for C3)
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# Compiler Optimization
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
# CONFIG_COMPILER_OPTIMIZATION_DEBUG is not set
